<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('jil_nap')}}" method="post">
        <table>
            <tr>
                <td>Masukan Angka</td>
                <td>: <input type="number" name="AzkaAngkaJ"></td>
            </tr>
        </table>
        <button type="submit">Kirim</button>
    </form>
    <button><a href="{{url_for('index')}}">kembali ke Homepage</a></button>     

    {% if AzkaKet %}
    <table>
        <tr>
            <td>
                <ul>
                {% for AzkaKet in AzkaKet %}
                <li>{{ AzkaKet }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    {% endif %}
</body>
</html>