<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <h1>OPERATOR ARITMATIKA</h1>
        <P>a = {{azka}}</P>
        <P>b = {{bazka}}</P>
        <br>
        <p>A + B = {{Azka1}}</p>
        <p>A - B = {{Azka2}}</p>
        <p>A / B = {{Azka3}}</p>
        <p>A * B = {{Azka4}}</p><br>
        <h1>OPERATOR PERBANDINGAN</h1>
        <P>a = {{azka}}</P>
        <P>b = {{bazka}}</P><br>
        <p>A == B :{{Azka5}}</p>
        <p>A > B :{{Azka6}}</p>
        <p>A < B :{{Azka7}}</p>
        <p>A <= B :{{Azka8}}</p>
        <p>A >= B :{{Azka9}}</p>
        <button><a href="{{url_for('index')}}">kembali ke Homepage</a></button>           
</body>
</html>